.AppCarnival .Timer {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    &.purple {
        .Timer__dots {
            color: #CB8CDF; 
        }

        .Timer__row--item__value {
            color: #CB8CDF;
            text-shadow: 0px 0px 15px rgba(203, 140, 223, 0.7)
        }
    }

    &__dots {
        color: #FFBB9E;
        font-variant-numeric: lining-nums tabular-nums;
        font-family: Manrope;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0 8px;

        @media (max-width: 700px) {
            font-size: 26px;
        }
    }

    &__row {
        display: flex;

        &--item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__value {
                color: #FFBB9E;
                font-variant-numeric: lining-nums tabular-nums;
                font-family: Manrope;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-shadow: 0px 0px 5px #ffbb9e;

                @media (max-width: 700px) {
                    font-size: 26px;
                }
            }

            &__label {
                text-align: center;
                font-family: Manrope;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px; /* 169.231% */
                letter-spacing: 0.39px;
                text-transform: uppercase;
                color: #fff;
                padding-top: 6px;

                @media (max-width: 700px) {
                    font-size: 8px;
                }
            }
        }
    }
}