---
import { cn } from "../../../utils";
import { Image } from 'astro:assets';
import Top from "/images/top.png"; // Image is 1600x900

---
<div class="absolute t-0 h-[200px] ">
  <!-- <div class={cn("bg-[url('/bottpm.png')]")}></div> -->
  <!-- <Image src={Top} alt="A description of my image." /> -->
  <img src="/images/top.png" class="z-[-1] "/>
  <img src="/images/bottom.png" class="z-[-1] mt-[200px] "/>
  <!-- <img src="/images/bottom.png"/> -->
  <slot />

</div>

