---
export const prerender = false;
import Layout from "@/layouts/index.astro";
import Navigation from "@/components/Navigation";
import Header from "@/layouts/blog/detail/Header";
import MoreBlog from "@/layouts/blog/detail/MoreBlog";
import BlogDetail from "@/layouts/blog/detail/BlogDetail";
import Footer from "@/components/Footer";
import { cn, getPublicationState, isDev } from "@/utils";
import "@/layouts/blog/detail/index.less";
import { getArticleCoverImage } from "@/utils/strapi";
import {
  checkSlugIsExist,
  getArticleBySlugFromCache,
  getLatestArticlesFromCache,
} from "@/strapi/services";
import { TTL_MAP } from "@/strapi/memoryCache";

const hostname = Astro.url.hostname;

const ttlMs = isDev(hostname) ? TTL_MAP.MINUTES_DEV : TTL_MAP.DEFAULT;

const publicationState = getPublicationState(hostname);

const { slug } = Astro.params;

/** 动态渲染博客文章详情页 */
async function getData(slug: string) {
  const { article, hit } = await getArticleBySlugFromCache(
    slug,
    publicationState,
    ttlMs
  );

  if (!article) {
    return null;
  }

  const latestArticles = await getLatestArticlesFromCache(publicationState);

  return { latestArticles, article, hit };
}

const isExist = await checkSlugIsExist(slug!, publicationState);
const data = isExist ? await getData(slug!) : null;
const { article, latestArticles, hit } = data || {};

Astro.response.headers.set("X-Cache", hit ? "HIT" : "MISS");
---

<Layout
  title={`Orderly | ${article?.attributes.title || "404"}`}
  metaDescription={article?.attributes.description! || "Page not found"}
  image={getArticleCoverImage(article)}
>
  <Navigation client:visible />

  {
    article ? (
      <>
        <Header article={article!} />
        <BlogDetail article={article} client:visible />
        <MoreBlog
          className={cn("mt-[80px]")}
          data={latestArticles || []}
          client:visible
        />
        <Footer />
      </>
    ) : (
      <div>
        <div class="my-[100px] text-center">
          <div class="text-xl">404</div>
          <div class="text-lg">Page not found</div>
        </div>
        <Footer className="fixed bottom-0 left-0 right-0" />
      </div>
    )
  }
</Layout>
