---
import Layout from "@/layouts/index.astro";
import Content from "@/components/Content";
import Navigation from "@/components/Navigation";
import Header from "@/layouts/blog/detail/Header";
import MoreBlog from "@/layouts/blog/detail/MoreBlog";
import DetailFooter from "@/layouts/blog/detail/Footer";
import Footer from "@/components/Footer";
import { array2Map, cn } from "@/utils";
import { getArticles, getUploadFiles } from "@/strapi/services";
import type { Article, Block, TFile } from "@/strapi/type";
import { marked } from "marked";
import "@/layouts/blog/detail/index.css";

marked.use({
  // breaks: true, // 不生效，使用正则代替
  pedantic: false,
  gfm: true,
});

export async function getStaticPaths() {
  const articles = await getArticles();
  const files = await getUploadFiles();
  const mapFiles: Record<string, TFile> = array2Map(files);
  return articles.map((article) => {
    const blocks = article.attributes.blocks.map((block) => {
      const html = marked.parse(block.body || "") as string;
      return {
        ...block,
        html: html?.replace(/\n/g, "<br />"), // 将\n转为换行元素
        url:
          block.__component === "shared.media"
            ? mapFiles[block.id]?.url
            : undefined,
      };
    });
    return {
      params: { slug: article.attributes.slug },
      props: { articles, article, blocks, files },
    };
  });
  // return [{ params: { slug: "orderly-network-partners-here-wallet" } }];
}

type Props = {
  articles: Article[];
  article: Article;
  blocks: Block[];
};

const { articles, article, blocks } = Astro.props;
---

<Layout title={`orderly.network/blog/${article.attributes.title}`}>
  <Navigation client:visible />
  <Header article={article} />
  <Content className="flex justify-center">
    <div
      id="blogDetail"
      class={cn(
        "flex flex-col justify-center",
        /** 375 */
        "text-base leading-[28.8px] font-normal mt-[40px]",
        /** 768 */
        "md:w-[688px]",
        /** 1024 */
        "lg:w-[904px] lg:text-xl lg:leading-[36px] lg:mt-[80px]"
      )}
    >
      {
        blocks?.map((block) => {
          if (block.url) {
            return <img class="py-[48px]" src={block.url} />;
          }
          return <div class="mt-[30px]" set:html={block.html} />;
        })
      }
      <DetailFooter client:visible />
    </div>
  </Content>

  <MoreBlog
    className={cn("mt-[80px]")}
    data={articles?.slice(0, 3)}
    client:visible
  />

  <Footer />
</Layout>
