---
import Layout from "@/layouts/index.astro";
import Navigation from "@/components/Navigation";
import HeaderBg from "@/layouts/blog/HeaderBg";
import HeaderText from "@/layouts/blog/HeaderText";
import BlogTab from "@/layouts/blog/BlogTab";
import Footer from "@/components/Footer";
import { cn } from "@/utils";
import BlogList from "@/layouts/blog/BlogList";
import Content from "@/components/Content";
import { getCategories, getArticles } from "@/strapi/services";
import { getTabData, sortByPublishedTime } from "@/utils/strapi";
import "../../style/index.css";
// import { BlogPublishedTime } from "@/utils/constant";

const categories = await getCategories();
const tabData = getTabData(categories);

const articleList = await getArticles();

const articles = sortByPublishedTime(articleList);

// 检测哪些slug的发布日期没有被hardcode
// console.log(
//   articles
//     .map((article) => {
//       const slug = article.attributes.slug;
//       return BlogPublishedTime[slug] ? false : slug;
//     })
//     .filter((item) => !!item)
// );

// export async function getStaticPaths({ paginate }) {
// const categories = await getCategories();
// const articles = await getArticles();
// console.log("categories", categories);
// console.log("articles", articles);

// 返回包含分页的所有帖子的路由集合
// return paginate(articles, { pageSize: 6 });

// 嵌套分页 https://docs.astro.build/zh-cn/core-concepts/routing/#%E5%B5%8C%E5%A5%97%E5%88%86%E9%A1%B5
// return categories.map((category) => {
//   const filteredArticles = articles.filter(
//     (article) =>
//       article.attributes.category.data.attributes.slug ===
//       category.attributes.slug
//   );
//   return paginate(filteredArticles, {
//     params: { category: category.attributes.slug },
//     pageSize: 6,
//   });
// });
// }
---

<Layout title="orderly.network/blog">
  <div
    class={cn(
      "relative",
      /** 375 */
      "h-[360px]",
      /** 768 */
      "md:h-[400px]"
    )}
  >
    <HeaderBg />
    <div class="relative">
      <Navigation client:visible />
      <HeaderText />
    </div>
  </div>

  <Content>
    <BlogTab data={tabData} client:visible />
    <BlogList data={articles} client:visible />
  </Content>

  <Footer
    className={cn(
      /** 375 */
      "mt-[40px]",
      /** 768 */
      "md:mt-[72px]",
      /** 1024 */
      "lg:mt-[60px]"
    )}
    client:visible
  />
</Layout>
