---
import type { PropsWithClassName } from "@/types";
import FooterBg from "./imgs/footer.png";
import { cn } from "@/utils";

type Props = PropsWithClassName;

const { className } = Astro.props;
---

<div
  class={cn(
    "absolute left-0 w-full",
    /** 375 */
    "top-[80px]",
    /** 768 */
    "md:top-[40px]",
    /** 1024 */
    "lg:top-[20px]",
    /** 1440 */
    "xl:top-[0px]",
    /** 1920 */
    "xl:top-[-20px]",
    className
  )}
>
  <img
    class={cn(
      "w-full object-cover",
      /** 375 */
      "sm:h-[121px]",
      /** 768 */
      "md:h-[248px]",
      /** 1024 */
      "lg:h-[330px]",
      /** 1440 */
      "xl:h-[465px]",
      /** 1920 */
      "2xl:h-[620px]"
    )}
    src={FooterBg.src}
    alt="orderly-network-main-footer-background"
  />
</div>
