---
import { cn } from "@/utils";
import Top from "./imgs/top.png";
import Bottom from "./imgs/bottom.png";
---

<div class="absolute top-0 left-0 w-full bg-[#080116]">
  <div class={cn("flex flex-col")}>
    <img
      class={cn(
        "object-cover",
        /** 375 */
        "h-[229px]",
        /** 768 */
        "md:h-[213px]",
        /** 1024 */
        "lg:h-[314px]"
      )}
      src={Top.src}
      alt="orderly-network-main-header-top-background"
    />
    <img
      class={cn(
        "object-cover",
        /** 375 */
        "h-[282px] mt-[82px]",
        /** 768 */
        "md:h-[203px] md:mt-[120px]",
        /** 1024 */
        "lg:h-[300px] md:mt-[170px]",
        /** 1440 */
        ""
      )}
      src={Bottom.src}
      alt="orderly-network-main-header-bottom-background"
    />
  </div>
</div>
