---
import Layout from "@/layouts/index.astro";
import Navigation from "@/components/Navigation";
import Footer from "@/components/Footer";
---

<Layout
  title="Orderly | 404"
  metaDescription="Orderly 404 not found!"
>
  <Navigation client:visible />
  <div class="my-[100px] text-center">
    <div class="text-xl">404</div>
    <div class="text-lg">Page not found</div>
  </div>

  <Footer className="fixed bottom-0 left-0 right-0" />
</Layout>
