---
// Component Imports
import Banner from "@/components/Banner";
import Button from "@/components/Button";
import SmallFooter from "@/components/Footer/Footer.sm";
import MiddleFooter from "@/components/Footer/Footer.md";
import LargeFooter from "@/components/Footer/Footer.lg";
import MobileNavigation from "@/components/Navigation/Navigation.sm";
import Navigation from "@/components/Navigation/Navigation.lg";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      } -->
  </head>

  <body>
    <main>
      <Banner client:visible />
      <div style="padding:20px">
        <Button>Build with Orderly</Button>
        <Button type="secondary">Next</Button>
        <Button type="secondary" disabled>Next</Button>
        <Button type="outlined">Trade on Orderly</Button>
        <Button type="outlined" showArrow>Trade on Orderly</Button>
        <Button type="outlined" showArrow disabled>Trade on Orderly</Button>
      </div>
      <Navigation client:visible className="w-[1440px]" />
      <Navigation client:visible />
      <MobileNavigation client:visible />
      <SmallFooter client:visible />
      <MiddleFooter client:visible />
      <LargeFooter client:visible />
    </main>
  </body>
</html>
