---
import Layout from "@/layouts/index.astro";
import Navigation from "@/components/Navigation";
import HeaderBackground from "@/layouts/main/Background/header.astro";
import BuildAndTrade from "@/layouts/main/BuildAndTrade/index.astro";
import Investors from "@/layouts/main/BuildAndTrade/investors.astro";
import WhyChooseOrderly from "@/layouts/main/WhyChooseOrderly/index.tsx";
import ExploreEcosystem from "@/layouts/main/ExploreEcosystem/index.tsx";
import Brand from "@/layouts/main/Brand/index.tsx";
import IntegrateSDK from "@/layouts/main/IntegrateSDK/index.tsx";
import UseCases from "@/layouts/main/UseCases/index.tsx";
import SaveHours from "@/layouts/main/SaveHours/index.tsx";
import EmailSubscribe from "@/layouts/main/EmailSubscribe";
import Footer from "@/components/Footer";
import FooterBg from "@/layouts/main/Background/footer.astro";
import { cn } from "@/utils";
import SaveHoursGradient from "@/layouts/main/Background/gradient/SaveHours";
import HeaderGradient from "@/layouts/main/Background/gradient/Header";
import FooterGradient from "@/layouts/main/Background/gradient/Footer";
import WhyChooseOrderlyGradient from "@/layouts/main/Background/gradient/WhyChooseOrderly";
import BrandGradient from "@/layouts/main/Background/gradient/Brand";
import IntegrateSDKGradient from "@/layouts/main/Background/gradient/IntegrateSDK";
import TradingStats from "@/layouts/main/TradingStats";
import PoweredDex from "@/layouts/main/PoweredDex";
---

<Layout
  title="Orderly | The permissionless liquidity layer for Web3 trading"
  metaDescription="Orderly is the omnichain liquidity layer with robust SDK for Web3 DeFi builders, while enhancing spot & derivatives trading in DeFi."
>
  <div>
    <div class="relative">
      <HeaderGradient />
      <div class="relative mix-blend-screen">
        <HeaderBackground />
        <div class="relative">
          <Navigation client:visible />
          <BuildAndTrade
            className={cn(
              /** 375 */
              "mt-[74px]",
              /** 768 */
              "md:mt-[97px]",
              /** 1024 */
              "lg:mt-[119px]"
            )}
          />
        </div>
      </div>
    </div>

    <!-- <Investors
      className={cn(
        /** 375 */
        "mt-[126px]",
        /** 768 */
        "md:mt-[189px]",
        /** 1024 */
        "lg:mt-[246px]",
        /** 1024 */
        "2xl:mt-[276px]"
      )}
    /> -->
    <TradingStats  
      className={cn(
        /** 375 */
        "mt-[126px]",
        /** 768 */
        "md:mt-[189px]",
        /** 1024 */
        "lg:mt-[210px]",
        /** 1440 */
        "xl:mt-[210px]"
      )}
      client:load
    />
    <div id="PoweredDex">
      <PoweredDex 
        className={cn(
          /** 375 */
          "mt-[40px]",
          /** 768 */
          "md:mt-[40px]",
          /** 1024 */
          "lg:mt-[80px]",
          /** 1440 */
          "xl:mt-[80px]"
        )}
        client:visible
      />
    </div>
    <div class="relative">
      <WhyChooseOrderlyGradient />
      <WhyChooseOrderly
        className={cn(
          /** 375 */
          "mt-[94px]",
          /** 768 */
          "md:mt-[138px]",
          /** 1024 */
          "lg:mt-[147px]",
          /** 1440 */
          "xl:mt-[80px]"
        )}
        client:load
      />
    </div>

    <ExploreEcosystem
      className={cn(
        /** 375 */
        "mt-[110px]",
        /** 768 */
        "md:mt-[216px]",
        /** 1024 */
        "lg:mt-[208px]",
        /** 1440 */
        "xl:mt-[279px]"
      )}
      client:visible
    />

    <div class="relative">
      <BrandGradient />
      <Brand
        className={cn(
          "mix-blend-screen",
          /** 375 */
          "mt-[82px]",
          /** 768 */
          "md:mt-[131px]",
          /** 1024 */
          "lg:mt-[175px]",
          /** 1440 */
          "xl:mt-[202px]"
        )}
      />
    </div>

    <div
      id="IntegrateSDK"
      class={cn(
        "relative mix-blend-screen",
        /** 375 */
        "mt-[174px]",
        /** 768 */
        "md:mt-[215.92px]",
        /** 1024 */
        "lg:mt-[315.81px]",
        /** 1440 */
        "xl:mt-[343.3px]"
      )}
    >
      <IntegrateSDKGradient />
      <IntegrateSDK className="relative" />
    </div>

    <UseCases
      className={cn(
        "relative z-[1]",
        /** 375 */
        "mt-[148px]",
        /** 768 */
        "md:mt-[195.08px]",
        /** 1024 */
        "lg:mt-[315.62px]",
        /** 1440 */
        "xl:mt-[194.16px]",
        /** 1920 */
        "2xl:mt-[264.16px]"
      )}
      client:visible
    />

    <div class="relative">
      <SaveHours
        className={cn(
          "relative",
          /** 375 */
          "mt-[151.03px]",
          /** 768 */
          "md:mt-[203px]",
          /** 1024 */
          "lg:mt-[300px]",
          /** 1440 */
          "xl:mt-[290.02px]",
          /** 1920 */
          "2xl:mt-[220.02px]"
        )}
      />
      <SaveHoursGradient />
    </div>

    <div class="relative overflow-hidden">
      <FooterGradient />

      <div class="relative mix-blend-screen">
        <div class="relative">
          <FooterBg />
          <div class="relative">
            <EmailSubscribe
              client:visible
              className={cn(
                /** 375 */
                "mt-[151px] mb-[113px]",
                /** 768 */
                "md:mt-[202.74px] md:mb-[109px]",
                /** 1024 */
                "lg:mt-[221.48px] lg:mb-[132px]",
                /** 1440 */
                "xl:mt-[318.87px] xl:mb-[150px]",
                /** 1920 */
                "2xl:mt-[214.77px] 2xl:mb-[128px]"
              )}
            />
            <Footer client:visible />
          </div>
        </div>
      </div>
    </div>

    <script src="../animation/index"></script>
  </div>
</Layout>
