---
import Layout from "@/layouts/index.astro";
import Navigation from "@/components/Navigation";
import HeaderBackground from "@/layouts/main/Background/header.astro";
import BuildAndTrade from "@/layouts/main/BuildAndTrade/index.astro";
import Investors from "@/layouts/main/BuildAndTrade/investors.astro";
import WhyChooseOrderly from "@/layouts/main/WhyChooseOrderly/index.tsx";
import ExploreEcosystem from "@/layouts/main/ExploreEcosystem/index.tsx";
import Brand from "@/layouts/main/Brand/index.tsx";
import IntegrateSDK from "@/layouts/main/IntegrateSDK/index.tsx";
import UseCases from "@/layouts/main/UseCases/index.tsx";
import SaveHours from "@/layouts/main/SaveHours/index.tsx";
import GetStart from "@/layouts/main/GetStart/index.tsx";
import Footer from "@/components/Footer";
import FooterBackground from "@/layouts/main/Background/footer.astro";
import { cn } from "@/utils";
// import "@/styles/index.css";
---

<Layout>
  <div>
    <div class="relative">
      <HeaderBackground />
      <div class="relative">
        <Navigation className="" client:visible />
        <BuildAndTrade
          className={cn(
            /** 375 */
            "mt-[74px]",
            /** 768 */
            "md:mt-[97px]",
            /** 1024 */
            "lg:mt-[119px]"
          )}
        />
      </div>
    </div>

    <!-- <div class="mt-[600px]">
      <IntegrateSDK
        className={cn(
          /** 375 */
          "mt-[174px]",
          /** 768 */
          "md:mt-[215.92px]",
          /** 1024 */
          "lg:mt-[315.81px]",
          /** 1440 */
          "xl:mt-[343.3px]"
        )}
      />
    </div> -->

    <Investors
      className={cn(
        /** 375 */
        "mt-[126px]",
        /** 768 */
        "md:mt-[189px]",
        /** 1024 */
        "lg:mt-[246px]",
        /** 1024 */
        "2xl:mt-[276px]"
      )}
    />

    <WhyChooseOrderly
      className={cn(
        /** 375 */
        "mt-[94px]",
        /** 768 */
        "md:mt-[138px]",
        /** 1024 */
        "lg:mt-[147px]",
        /** 1440 */
        "xl:mt-[285px]"
      )}
      client:visible
    />

    <ExploreEcosystem
      className={cn(
        /** 375 */
        "mt-[110px]",
        /** 768 */
        "md:mt-[216px]",
        /** 1024 */
        "lg:mt-[208px]",
        /** 1440 */
        "xl:mt-[279px]"
      )}
      client:visible
    />

    <Brand
      className={cn(
        /** 375 */
        "mt-[82px]",
        /** 768 */
        "md:mt-[131px]",
        /** 1024 */
        "lg:mt-[175px]",
        /** 1440 */
        "xl:mt-[202px]"
      )}
    />

    <IntegrateSDK
      className={cn(
        /** 375 */
        "mt-[174px]",
        /** 768 */
        "md:mt-[215.92px]",
        /** 1024 */
        "lg:mt-[315.81px]",
        /** 1440 */
        "xl:mt-[343.3px]"
      )}
    />

    <UseCases
      className={cn(
        /** 375 */
        "mt-[148px]",
        /** 768 */
        "md:mt-[195.08px]",
        /** 1024 */
        "lg:mt-[315.62px]",
        /** 1440 */
        "xl:mt-[194.16px]",
        /** 1920 */
        "2xl:mt-[264.16px]"
      )}
      client:visible
    />

    <SaveHours
      className={cn(
        /** 375 */
        "mt-[151.03px]",
        /** 768 */
        "md:mt-[203px]",
        /** 1024 */
        "lg:mt-[300px]",
        /** 1440 */
        "xl:mt-[290.02px]",
        /** 1920 */
        "2xl:mt-[220.02px]"
      )}
    />
    <div class="relative">
      <FooterBackground />
      <div class="relative">
        <GetStart
          className={cn(
            /** 375 */
            "mt-[151px] mb-[113px]",
            /** 768 */
            "md:mt-[202.74px] md:mb-[109px]",
            /** 1024 */
            "lg:mt-[221.48px] lg:mb-[132px]",
            /** 1440 */
            "xl:mt-[318.87px] xl:mb-[150px]",
            /** 1920 */
            "2xl:mt-[214.77px] 2xl:mb-[128px]"
          )}
        />
        <Footer client:visible />
      </div>
    </div>
  </div>
</Layout>

<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.set("#IntegrateSDKBg", { opacity: 0 });
  gsap.to("#IntegrateSDKBg", {
    scrollTrigger: {
      trigger: "#IntegrateSDK",
      start: "top 50%",
      end: "top 30%",
      scrub: 1.5,
      // markers: {
      //   startColor: "red",
      //   endColor: "red",
      // },
    },
    y: 0,
    opacity: 1,
    // duration: 1.5,
    // ease: "power1.out",
  });

  gsap.set("#IntegrateSDKOrderBook", { opacity: 0, top: -200 });
  gsap.to("#IntegrateSDKOrderBook", {
    scrollTrigger: {
      trigger: "#IntegrateSDK",
      start: "top 45%",
      end: "top 30%",
      scrub: 1.5,
      // markers: {
      //   startColor: "green",
      //   endColor: "green",
      //   indent: 150,
      // },
    },
    top: -45,
    opacity: 1,
    duration: 10,
  });

  gsap.set("#IntegrateSDKOrderEntry", { opacity: 0, top: -150 });
  gsap.to("#IntegrateSDKOrderEntry", {
    scrollTrigger: {
      trigger: "#IntegrateSDK",
      start: "top 40%",
      end: "top 30%",
      scrub: 1.5,
      // markers: {
      //   startColor: "white",
      //   endColor: "white",
      //   indent: 300,
      // },
    },
    top: -12,
    opacity: 1,
  });
</script>
