---
import Layout from "@/layouts/index.astro";
import Content from "@/components/Content";
import Navigation from "@/components/Navigation";
import HeaderBg from "@/layouts/ecosystem/HeaderBg";
import HeaderText from "@/layouts/ecosystem/HeaderText";
import Statistics from "@/layouts/ecosystem/Statistics";
import EcosystemTab from "@/layouts/ecosystem/EcosystemTab";
import Footer from "@/components/Footer";
import { cn } from "@/utils";
import CardList from "@/layouts/ecosystem/CardList";
import HeaderGradient from "@/layouts/ecosystem/Gradient/Header";
import FooterGradient from "@/layouts/ecosystem/Gradient/Footer";
import BodyGradient from "@/layouts/ecosystem/Gradient/Body";
---

<!-- ecosystem url有冲突，这里将 url 改成 partners -->
<Layout
  title="rderly Network | Ecosystem"
  metaDescription="Explore Orderly’s expansive ecosystem redefining DeFi through a variety of  innovative products including DEXs, aggregators, wallets, and more."
>
  <div class="relative">
    <HeaderGradient />
    <HeaderBg />
    <div
      class={cn(
        "relative",
        /** 375 */
        "pb-[35px]",
        /** 768 */
        "md:pb-[172px]",
        /** 1024 */
        "lg:pb-[86px]",
        /** 1440 */
        "xl:pb-[124px]"
      )}
    >
      <Navigation client:visible />
      <Content>
        <HeaderText />
        <Statistics />
      </Content>
    </div>
  </div>

  <div class="relative">
    <BodyGradient />
    <FooterGradient />
    <div class="relative">
      <Content>
        <EcosystemTab client:visible />
        <CardList client:visible />
      </Content>

      <Footer
        className={cn(
          /** 375 */
          "mt-[40px]",
          /** 768 */
          "md:mt-[60px]"
        )}
        client:visible
      />
    </div>
  </div>
</Layout>
