.AppCarnival .MysteryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 166px;

    @media (max-width: 700px) {
        margin-bottom: 50px;
    }

    h2 {
        color: #9A5BFF;
        text-align: center;
        text-shadow: 0px 0px 62px #B552F2, 0px 0px 3px rgba(181, 82, 242, 0.20);
        font-family: Manrope;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 125%; /* 60px */

        @media (max-width: 700px) {
            font-size: 24px;
        }

        @media (min-width: 701px) and (max-width: 1023px) {
            font-size: 30px;
        }
    }

    &__label {
        color: #BABABA;
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;

        @media (max-width: 700px) {
            font-size: 12px;
        }

        @media (min-width: 701px) and (max-width: 1023px) {
            font-size: 14px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        @media (min-width: 701px) and (max-width: 1023px) {
            max-width: 90%;
        }

        &--left {
            img {
                max-width: 500px;
                
                @media (max-width: 700px) {
                    max-width: 100%;
                }

                @media (min-width: 701px) and (max-width: 1023px) {
                    max-width: 340px;
                }
            }
        }

        &--right {
            padding-left: 61px;

            @media (max-width: 700px) {
                max-width: 90%;
                padding-left: 0;
            }

            @media (min-width: 701px) and (max-width: 1023px) {
                padding-left: 0;
                padding-top: 40px;
            }

            p {
                color: rgba(255, 255, 255, 0.98);
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%; /* 27px */
                max-width: 531px;

                @media (max-width: 700px) {
                    font-size: 14px;
                }

                @media (min-width: 701px) and (max-width: 1023px) {
                    font-size: 14px;
                }
            }

            &__soon {
                margin-top: 32px;
                color: rgba(255, 255, 255, 0.54);
                text-align: center;
                leading-trim: both;

                text-edge: cap;
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 20px */
                letter-spacing: 0.2px;
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.08);
                padding: 12px 20px;
                max-width: 282px;
            }
    
            &__button {
                margin-top: 32px;
                width: 244px;
                background-clip: text;
                -webkit-background-clip: text; /* For WebKit browsers like Safari */
                color: transparent;
                background-image: linear-gradient(to left, #FF9B3F, #933EFF);
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                position: relative;
                padding: 19px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media (max-width: 700px) {
                    width: 173px;
                    font-size: 18px;
                    padding: 13px;
                    margin: 38px auto;
                }

                @media (min-width: 701px) and (max-width: 1023px) {
                    width: 173px;
                    font-size: 18px;
                    padding: 13px;
                }

                &:hover {
                    background: linear-gradient(270.23deg, #FF9B3F -12.06%, #933EFF 103.65%);
                    border: 0px;
                    border-radius: 13px;
                    color: white;
    
                    svg {
                        path {
                            fill: white;
                        }
                    }
                }
    
                svg {
                    padding-left: 6px;
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 10px;
                    padding: 1px; 
                    background: linear-gradient(to left, #FF9B3F, #933EFF);
                    -webkit-mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                            mask-composite: exclude;
                    pointer-events: none;
                }
            }
        }
    }
}