@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF-Normal') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF-DemiBold') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Articulat CF';
  src: url('/fonts/ArticulatCF-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
