@import "./tailwind.css";

/* 直接从 url 加载字体，添加动画效果的时候，动画完成之后，字体会动一下 */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap'); */

/* 
  font-thin	font-weight: 100;
  font-extralight	font-weight: 200;
  font-light	font-weight: 300;

  font-normal	font-weight: 400;
  font-medium	font-weight: 500;
  font-semibold	font-weight: 600;
  font-bold	font-weight: 700;
  font-extrabold	font-weight: 800;

  font-black	font-weight: 900; 
*/

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Articulat CF
  Thin => 100
  Extra Light => 200
  Light => 300
  Normal => 400
  Regular => 500
  Medium => 600
  Demi Bold => 700
  Bold => 800
  Extra Bold => 900
  Heavy => 1000
 */

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-DemiBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Articulat CF";
  src: url("/fonts/ArticulatCF/ArticulatCF-Bold.ttf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 
  Atyp Text 
*/
@font-face {
  font-family: "Atyp";
  src: url("/fonts/Atyp/AtypBLText-Light.otf") format("opentype");
  font-weight: 333;
  font-style: normal;
}

@font-face {
  font-family: "Atyp";
  src: url("/fonts/Atyp/AtypBLText-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atyp";
  src: url("/fonts/Atyp/AtypBLText-Medium.otf") format("opentype");
  font-weight: 507;
  font-style: normal;
}

@font-face {
  font-family: "Atyp";
  src: url("/fonts/Atyp/AtypBLDisplay-Semibold.otf") format("opentype");
  font-weight: 612;
  font-style: normal;
}

@font-face {
  font-family: "Atyp";
  src: url("/fonts/Atyp/AtypBLDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  line-height: 1.2;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
