@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .blog-item-hover {
    background:radial-gradient(114.23% 114.23% at 50% 108.86%, #903EF8 0%, rgba(0, 0, 0, 0.00) 100%), #0A0A0A;
  }

  @keyframes loading-circle-1 {
    0% {
      transform: scale(1);
      background-color: rgb(255,255,255,1);
    }
    33%, 66% { 
      background-color: rgb(255,255,255,0.5);
    }
  }

  @keyframes loading-circle-2 {
    0%, 66%, 100% { 
      background-color: rgb(255,255,255,0.5);
    }
    33% {
      transform: scale(1);
      background-color: rgb(255,255,255,1);
    }   
  }

  @keyframes loading-circle-3 {
    0%, 33%, 100% { 
      background-color: rgb(255,255,255,0.5);
    } 
    66% { 
      transform: scale(1);
      background-color: rgb(255,255,255,1);
    }
  }

  .button-loading-circle-1 {
    animation: loading-circle-1 1200ms linear infinite;
  }
  
  .button-loading-circle-2 {
    animation: loading-circle-2 1200ms linear infinite;
  }
  
  .button-loading-circle-3 {
    animation: loading-circle-3 1200ms linear infinite;
  }
}


