---
import Button from "../../components/Button";
import { cn } from "../../utils";
---

<div class="text-center z-[9] overflow-visible bg-transparent">
  <div
    class={cn(
      "text-primary-100 ",
      /** 375 */
      "text-[32px] leading-[38.4xp] pt-[16px]",
      /** 768 */
      "md:text-4xl md:leading-[48px] pt-[12px]",
      /** 1024 */
      "lg:text-6xl lg:leading-[76.8px] lg:pt-[119px]"
    )}
  >
    <div>
      The permissionless <br class="md:hidden" />liquidity <br
        class="hidden md:inline"
      />layer for <br class="md:hidden" />Web3 trading
    </div>
  </div>

  <div
    class={cn(
      " text-primary-80",
      /** 375 */
      "text-[13px] leading-[19.5px] mt-[16px]",
      /** 768 */
      "md:text-base md:leading-[24px] mt-[12px]",
      /** 1024 */
      "lg:text-xl lg:leading-[36px] lg:mt-[12px]"
    )}
  >
    <div>Powerful SDK, seamless integration for builders.</div>
    <div>Unified liquidity, superior performance for traders.</div>
  </div>

  <div
    class={cn(
      /** 375 */
      "mt-[45px]",
      /** 768 */
      "md:mt-[24px]"
    )}
  >
    <Button>Build with Orderly</Button>
    <Button
      type="outlined"
      className={cn(
        /** 375 */
        "ml-[12px]",
        /** 1024 */
        "ml-[16px]"
      )}
    >
      Trade on Orderly
    </Button>
  </div>
</div>
