---
import { cn } from "@/utils";
---

<div class="text-center z-[9] overflow-visible bg-transparent">
  <div
    class={cn(
      /** 375 */
      "",
      /** 768 */
      "md:",
      /** 1024 */
      "lg:",
      /** 1440 */
      "xl:",
      /** 1440 */
      "2xl:"
    )}
  >
  </div>
</div>
