#blogDetail {
  h1, h2, h3, h4 { 
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 150%;
  }

  @media (min-width: 375px) {
    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 22px;
    }
  }

  p {
    margin-top: 10px;
    margin-bottom: 28px;
  }
  
  ol, ul {
    list-style: disc;
  }
  
  a {
    color: #8AEFF5;
  }

  blockquote {
    padding-left: 28px;
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    font-style: italic;
  }
}