---
import Banner from "../components/Banner";
import Navigation from "../components/Navigation";
import Footer from "../components/Footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap"
    /> -->
    <style>
      html,
      body {
        /** 去掉移动端点击显示阴影的问题 */
        -webkit-tap-highlight-color: transparent;
      }
    </style>
  </head>
  <body>
    <!-- <Banner client:visible /> -->

    <!-- <Navigation client:visible /> -->

    <!-- 你的内容会被插入到这里 -->
    <slot />

    <!-- <Footer client:visible /> -->
  </body>
</html>
