---
import Button from "@/components/Button";
import { cn } from "@/utils";
import type { PropsWithClassName } from "@/types";
import { Hyperlink } from "@/utils/constant";

type Props = PropsWithClassName;

const { className } = Astro.props;
---

<div class={cn("text-center", className)}>
  <h1
    class={cn(
      "animate-fadeInUp",
      "font-title font-bold text-primary-100",
      /** 375 */
      "text-[32px] leading-[38.4xp]",
      /** 768 */
      "md:text-4xl md:leading-[48px]",
      /** 1024 */
      "lg:text-6xl lg:leading-[76.8px] "
    )}
  >
    The permissionless <br class="md:hidden" />liquidity <br
      class="hidden md:inline"
    />layer for <br class="md:hidden" />Web3 trading
  </h1>

  <div
    class={cn(
      "animate-fadeInUpDelay",
      "text-primary-80 font-semibold",
      /** 375 */
      "text-[13px] leading-[19.5px] mt-[16px]",
      /** 768 */
      "md:text-base md:leading-[24px] md:mt-[12px]",
      /** 1024 */
      "lg:text-xl lg:leading-[36px] lg:mt-[12px]"
    )}
  >
    <div class="tracking-[0.36px]">
      Powerful SDK, seamless integration for builders.
    </div>
    <div>Unified liquidity, superior performance for traders.</div>
  </div>

  <div
    class={cn(
      "animate-fadeInUpDelay",
      /** 375 */
      "mt-[45px]",
      /** 768 */
      "md:mt-[24px]"
    )}
  >
    <Button href={Hyperlink.Main.BuildWithOrderly}>Build with Orderly</Button>

    <Button
      href={Hyperlink.Main.TradeOnOrderly}
      type="outlined"
      className={cn(
        /** 375 */
        "ml-[12px]",
        /** 1024 */
        "lg:ml-[16px]"
      )}
    >
      Trade on Orderly
    </Button>
  </div>
</div>
