---
import Pantera from "./investors/Pantera.svg";
import DragonflyCapital from "./investors/DragonflyCapital.svg";
import SequoiaCapital from "./investors/SequoiaCapital.svg";
import Kronos from "./investors/Kronos.svg";
import Raydium from "./investors/Raydium.svg";
import GSR from "./investors/GSR.svg";
import CryptocomCapital from "./investors/CryptocomCapital.svg";
import Amber from "./investors/Amber.svg";
import AGBuild from "./investors/AGBuild.svg";
import jump from "./investors/jump.svg";
import CoboVentures from "./investors/CoboVentures.svg";
import GateVentures from "./investors/GateVentures.svg";
import Primitive from "./investors/Primitive.svg";
import Mirana from "./investors/Mirana.svg";
import SevenX from "./investors/SevenX.svg";
import PuzzleVentures from "./investors/PuzzleVentures.svg";
import Metaweb from "./investors/Metaweb.svg";
import IOSG from "./investors/IOSG.svg";
import WOO from "./investors/WOO.svg";
import Subzero from "./investors/Subzero.svg";
import DIVentures from "./investors/DIVentures.svg";
import Newman from "./investors/Newman.svg";
import LaserDigital from "./investors/LaserDigital.svg";
import CoinDCX from "./investors/CoinDCX.svg";
import Content from "../../../components/Content/index.tsx";
import type { PropsWithClassName } from "@/types";

const imgs = [
  Pantera,
  DragonflyCapital,
  SequoiaCapital,
  Kronos,
  Raydium,
  GSR,
  CryptocomCapital,
  Amber,
  AGBuild,
  jump,
  CoboVentures,
  GateVentures,
  Primitive,
  Mirana,
  SevenX,
  PuzzleVentures,
  Metaweb,
  IOSG,
  WOO,
  Subzero,
  DIVentures,
  Newman,
  LaserDigital,
  CoinDCX,
];

type Props = PropsWithClassName;

const { className } = Astro.props;
---

<!-- 左右两边的阴影也可用下面的 css 实现 --><!-- box-shadow: inset 80px 0 30px -30px var(--color-grey-8),inset -80px 0 30px -30px var(--color-grey-8); -->
<Content className={className}>
  <div class={"relative overflow-hidden"}>
    <div
      class="absolute top-0 left-0 z-[1] w-[50px] h-full [mask-image:linear-gradient(to_right,#000,transparent)] bg-[#000]"
    >
    </div>
    <div
      class="absolute top-0 right-0 z-[1] w-[50px] h-full [mask-image:linear-gradient(to_right,transparent,#000)] bg-[#000]"
    >
    </div>
    <div class={"flex animate-investors"}>
      {
        imgs.map((item) => {
          return <img class="mr-[20px]" src={item.src} alt="Pantera" />;
        })
      }
    </div>
  </div>
</Content>
