---
import Pantera from "./investors/Pantera.svg";
import DragonflyCapital from "./investors/DragonflyCapital.svg";
import SequoiaCapital from "./investors/SequoiaCapital.svg";
import Kronos from "./investors/Kronos.svg";
import Raydium from "./investors/Raydium.svg";
import GSR from "./investors/GSR.svg";
import CryptocomCapital from "./investors/CryptocomCapital.svg";
import Amber from "./investors/Amber.svg";
import AGBuild from "./investors/AGBuild.svg";
import jump from "./investors/jump.svg";
import CoboVentures from "./investors/CoboVentures.svg";
import GateVentures from "./investors/GateVentures.svg";
import Primitive from "./investors/Primitive.svg";
import Mirana from "./investors/Mirana.svg";
import SevenX from "./investors/SevenX.svg";
import PuzzleVentures from "./investors/PuzzleVentures.svg";
import Metaweb from "./investors/Metaweb.svg";
import IOSG from "./investors/IOSG.svg";
import WOO from "./investors/WOO.svg";
import Subzero from "./investors/Subzero.svg";
import DIVentures from "./investors/DIVentures.svg";
import Newman from "./investors/Newman.svg";
import LaserDigital from "./investors/LaserDigital.svg";
import CoinDCX from "./investors/CoinDCX.svg";
import Content from "../../../components/Content/index.tsx";
import type { PropsWithClassName } from "@/types";
import { cn } from "@/utils";

const imgs = [
  { name: "Pantera", src: Pantera.src },
  { name: "GSR", src: GSR.src },
  { name: "LaserDigital", src: LaserDigital.src },
  { name: "DragonflyCapital", src: DragonflyCapital.src },
  { name: "jump", src: jump.src },
  { name: "CryptocomCapital", src: CryptocomCapital.src },
  { name: "SequoiaCapital", src: SequoiaCapital.src },
  { name: "Primitive", src: Primitive.src },
  { name: "Metaweb", src: Metaweb.src },
  { name: "SevenX", src: SevenX.src },
  { name: "CoinDCX", src: CoinDCX.src },
  { name: "Kronos", src: Kronos.src },
  { name: "Raydium", src: Raydium.src },
  { name: "Amber", src: Amber.src },
  { name: "AGBuild", src: AGBuild.src },
  { name: "CoboVentures", src: CoboVentures.src },
  { name: "GateVentures", src: GateVentures.src },
  { name: "Mirana", src: Mirana.src },
  { name: "PuzzleVentures", src: PuzzleVentures.src },
  { name: "IOSG", src: IOSG.src },
  { name: "WOO", src: WOO.src },
  { name: "Subzero", src: Subzero.src },
  { name: "DIVentures", src: DIVentures.src },
  { name: "Newman", src: Newman.src },
];

type Props = PropsWithClassName;

const { className } = Astro.props;
---

<Content className={className}>
  <div class={"relative overflow-hidden"}>
    <div
      class="absolute top-0 left-0 z-[1] w-[50px] h-full [mask-image:linear-gradient(to_right,#000,transparent)] bg-[#000]"
    >
    </div>
    <div
      class="absolute top-0 right-0 z-[1] w-[50px] h-full [mask-image:linear-gradient(to_right,transparent,#000)] bg-[#000]"
    >
    </div>
    <div class="flex animate-investors">
      {
        imgs.map((item) => {
          return (
            <img
              class={cn(
                "mr-[20px] text-[#000]",
                /** 375 */
                "h-[60px]",
                /** 768 */
                "md:h-[80px]"
              )}
              src={item.src}
              alt={item.name}
            />
          );
        })
      }
    </div>
  </div>
</Content>
